@charset "utf-8";

a {
  text-decoration: none;
}

html, body {
  max-width: 100%;
  scroll-behavior: smooth;
  background-color: lightgrey;
  overflox-x: hidden;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a:hover {
  text-decoration: underline;
}

nav {
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 5em;
  display: flex;
  justify-content: center;
}

nav ul {
  width: 100%;
  list-style-type: none;
  display: flex;
}

nav ul li {
  width: 25%;
  padding: 0 0 2em;
  align-self: flex-start;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.7em;
}

.einfuehrungstext {
  max-width: 45ch;
	font-size: 1.3em;
	text-wrap: balance;
}

.text {
	font-size: 1.3em;
	text-wrap: balance;
}

.programm-text {
	font-size: 1.3em;
	text-wrap: balance;
  margin-top: 2em;
}

.chronik-date {
  font-size: 20em;
  position: absolute;
  line-height: 1em;
}

header {
  margin-left: 5em;
}

h1 {
  font-size: 10em;
  font-weight: 400;
}

h2 {
  font-size: 5em;
  font-weight: 400;
  margin-top: 0;
}

header h2 {
  margin-top: -0.6em;
  margin-left: 2.5em;
}

.header_werkschau {
  display: flex;
}

.logo_werkschau {
  width: 50px;
  margin-right: 3em;
  padding-top: 4.7em;
}

.subheadline-grid-right {
	float:right;
}

.programm-date {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.dateNumber {
	font-size: 20em;
  float: right;
  line-height: 0.8em;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto;
	gap: 2rem;
}

.grid-1-1-2 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem;
  grid-auto-flow: dense;
}

.fullsize-container {
  width: 100%;
  display: relative;
}

.fullsize-container-flex {
  width: 100%;
  display: flex;
}

.grid-container-four {
	display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2rem;
	margin-left: 5em;
	margin-right: 5em;
}

.margin-left-right {
  margin-left: 5em;
  margin-right: 5em;
}

.grid-open-space-left {
	margin-left: 5em;
}

.grid-open-space-right {
	margin-right: 5em;
}

.link-container {
	margin-top: 2.5em;
}

.whitespace {
  margin: 3em;
}

.link {
	color: black;
	text-decoration: none;
	font-size: 0.9em;
	margin-right: 5em;
}

.link-central {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
  text-decoration: none;
  color: black;
  font-size: 1.7em;
}

.impressum {
	position: absolute;
	margin-top: 11.7em;
  margin-left: 38.4em;
}

.img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.impressum-text-column {
  column-count: 2;

}

.impressum-data {
  margin-left: 5em;
  position: fixed;
}

.impressum-text-container {
  width: 66%;
  float: right;
  margin-right: 5em;
  margin-left: 5em;
  margin-bottom: 5em;
}

.impressum-text-column-sub {
  margin-bottom: 0.5em;
}

.footer-impressum {
  margin: 5em;
}

.logo-sponsoren {
  height: 110px;
  padding: 1em;
}

.logo-sponsoren-chronik {
  height: 72px;
  padding: 1em;
}

@media (min-width: 1961px) {
  .impressum {
  margin-left: 42.4em;
}
}


@media only screen and (max-width:600px) {
  
  
  
  
  
}

